<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Personas">
      <ion-icon name="people"></ion-icon>
      <ion-label>Personas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Regiones">
      <ion-icon name="locate"></ion-icon>
      <ion-label>Regiones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
